# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Intelli J
.idea

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Exclude .lib files in the lib/Windows folder
!Phezu/lib/windows/*.lib

# Executables
*.exe
*.out
*.app

# Don't ignore .exe files in the Vendor/Windows/CMake/bin
!Vendor/Windows/Cmake/bin/*.exe
!Vendor/Mac/mono/lib/4.5/*.exe

#mac finder
*.DS_Store

/[Bb]uild
