# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: Build

on:
  push:
    branches: [ "dev" ]
  workflow_dispatch:

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build C# Scripts
        shell: cmd
        working-directory: ${{ github.workspace }}\ScriptCore
        run: |
          "../Vendor/windows/mono/bin/mono.exe" "../Vendor/windows/mono/lib/4.5/csc.exe" \
          -target:library \
          -out:Build/bin/Phezu-ScriptCore.dll \
          "Source/*.cs"
