name: Build Mac

on:
  push:
    branches: [ "dev" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Install mono
        shell: bash
        run: brew install mono 6.14.1
      
      - name: Run setup script
        shell: bash
        run: |
          chmod +x Setup_Mac.sh
          ./Setup_Mac.sh --auto
